
body{
    background-color: black;
  }
  .mb-0, .lead, p{
    color: rgb(240, 231, 231);
  }
  .subheading{
    color: var(--pageblu);
  }
  h2{
    color: var(--pageblu);
  }
  .text-dark{
    color: #fff3cd;
  }
  div{
    color: #f0f0f0;
  }
  .bg-primary{
    background-color: rgb(54, 54, 54) !important;
  }